<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


<!-- NAVEGACIÓN -->
<nav class="header-nav">
    <div class="container flex space-between">
        <!-- MARCA -->
        <div class="flex align-center brand">
            <!-- Mandar a nosotros -->
            <a href="">
                <img class="logo" alt="Carved Rock Fitness" src="../../../assets/img/Logo.png">
            </a>
        </div>
        <!-- BÚSQUEDA -->
        <div class="flex flex-one align-center">
            <div>
                <ul class="flex space-between nav-list" style="list-style-type: none;">
                    <li><a href="videos">Videos</a></li>
                    <li><a href="fotografias">Fotografía</a></li>
                    <!-- <li><a href="acercade.php">Acerca de</a></li>--> -->
                </ul>
            </div>
        </div>

        <!-- DEBE DIRIGIR A UN LOGIN DE USUARIO CON PASARELA DE PAGO -->
        <div class="flex align-center profile">
            <div class="flex flex-column account">
                ¿Eres cliente? <a href="#">INICIA SESION</a>
            </div>
            <!--         CAMBIAR IMAGEN POR UNA REFERENTE A UN USUARIO
 -->
            <div class="profile-pic"><img alt="John Doe" src="../../../assets/img/profile-pic.jpg"></div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>